body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    color: #222616;
}

h1 {
    font-weight: 900;
    text-align: center;
    margin-top: 0px;
}

.container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    flex-direction: column;
}

.boxs {
    height: 510px;
    font-size: 16px;
    width: 350px;
    background: #abd793;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 20px 40px;
    border-radius: 30px;
}

.user {
    margin-top: 40px;
}

.fas {
    position: absolute;
    margin-top: 10px;
    margin-left: 5px;
}

input {
    width: 83%;
    margin-bottom: 25px;
    padding: 10px 30px 10px;
    font-size: 16px;
    border: none;
    border-bottom: 1px solid #222616;
    outline: none;
    background-color: #f6fbf2;
    color: #222616;
    border-radius: 7px;
}

input:focus {
    border: 1px solid #222616;
    box-shadow: 2px 2px 4px #222616;
}

.login-btn {
    margin-top: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.btn {
    display: block;
    width: 80%;
    padding: 10px;
    background-color: #222616;
    color: white;
    border: none;
    border-radius: 20px;
    font-size: 20px;
    font-weight: 600;
    opacity: 0.8;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.btn:hover {
    opacity: 1;
    background-color: #abd793;
    color: #222616;
    box-shadow: 2px 2px 4px #222616;
    border: 1px solid #222616;
}

.signup span {
    color: #222616;
}

.signup span:hover {
    color: #fff;
}

.icon {
    text-align: center;
}

.icons {
    margin: 5px 10px;
    font-size: 30px;
    text-align: center;
}

.signup {
    text-align: center;
}